Cartopy==0.14.2
Fiona==1.7.1
Flask==0.12
folium==0.3.0.dev0
GeoAlchemy2==0.4.0
geopandas==0.2.1
gpxpy==1.1.2
matplotlib==2.0.0
numpy==1.12.0
pandas==0.19.1
seaborn==0.7.1
SQLAlchemy==1.1.5
stravalib==0.6.6
units==0.7
