{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block container %}
<h1>Activities</h1>
<div class="libpage">
  <table class="libtable">
    <tr>
      <th><a href="/activities?sort=datetime">Date</a></th>
      <th><a href="/activities?sort=datetime">Time</a></th>
      <th><a href="/activities?sort=name">name</a></th>
      <th><a href="/activities?sort=run_type">Run Type</a></th>
      <th><a href="/activities?sort=avg_speed">Max Speed</a></th>
      <th><a href="/activities?sort=avg_pace">Avg Pace</a></th>
      <th><a href="/activities?sort=distance">Distance</a></th>
      <th><a href="/activities?sort=duration">Duration</a></th>
    </tr>

    {% set sort_on = request.args.sort_on | default('duration') %}
    {% for event in events | sort(attribute=sort_on) %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ event.datetime | get_date }}</a></td>
      <td>{{ event.datetime | get_time }}</a></td>
      <td>{{ event.name }}</a></td>
      <td>{{ event.run_type }}</a></td>
      <td>{{ event.max_speed | round(2) }}</a></td>
      <td>{{ event.avg_pace }}</a></td>
      <td>{{ event.distance | round(2)}}</a></td>
      <td>{{ event.duration | convert_to_sexagesimal}}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
