{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block container %}
<h1>Activities</h1>
<div class="libpage">
  <table class="libtable">
    <tr>
      <th><a href="/activities?sort=start_date">Date</a></th>
      <th><a href="/activities?sort=start_date">Time</a></th>
      <th width="50px"><a href="/activities?sort=name">Name</a></th>
      <th><a href="/activities?sort=type">Type</a></th>
      <th><a href="/activities?sort=distance">Distance</a></th>
      <th><a href="/activities?sort=moving_time">Moving Time</a></th>
      <th><a href="/activities?sort=average_speed">Avg Pace</a></th>
      <th><a href="/activities?sort=max_speed">Max Pace</a></th>
    </tr>


    {% for activity in activities %} 
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ activity.start_date | get_date }}</td>
      <td>{{ activity.start_date | get_time }}</td>
      <td>{{ activity.name }}</td>
      <td>{{ activity.type }}</td>
      <td>{{ activity.distance | m_to_mile | round(2) }}</td>
      <td>{{ activity.moving_time | ns_to_hms }}</td>
      <td>{{ activity.average_speed | speed_to_pace }}</td>
      <td>{{ activity.max_speed  | speed_to_pace }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
