{% extends "base.html" %}

{% block title %}
<h3>Activities</h3>
{% endblock %}

{% block body %}
<div class="libpage">
  <table class="libtable">
    <tr>
      <th><a href="/activities?sort=start_time">Time</a></th>
      <th><a href="/activities?sort=name">name</a></th>
      <th><a href="/activities?sort=run_type">Run Type</a></th>
      <th><a href="/activities?sort=avg_speed">Avg Speed</a></th>
      <th><a href="/activities?sort=avg_pace">Avg Pace</a></th>
      <th><a href="/activities?sort=distance">Distance</a></th>
      <th><a href="/activities?sort=duration">Duration</a></th>
    </tr>

    {% set sort_on = request.args.sort_on | default('distance') %}
    {% for event in events %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ event.start_time }}</a></td>
      <td>{{ event.name }}</a></td>
      <td>{{ event.run_type }}</a></td>
      <td>{{ event.avg_speed | round(2) }}</a></td>
      <td>{{ event.avg_pace }}</a></td>
      <td>{{ event.distance | round(2)}}</a></td>
      <td>{{ event.duration }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
